<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AlgebraSoap" />
                <binding name="AlgebraSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55967/Algebra.asmx" binding="basicHttpBinding"
                bindingConfiguration="AlgebraSoap" contract="ServiceReference1.AlgebraSoap"
                name="AlgebraSoap" />
            <endpoint address="http://localhost:55967/Algebra.asmx" binding="basicHttpBinding"
                bindingConfiguration="AlgebraSoap1" contract="ServiceReference2.AlgebraSoap"
                name="AlgebraSoap1" />
        </client>
    </system.serviceModel>
</configuration>